version: '3.9'

services:
  postgres:
    image: postgres:15
    container_name: ecommerce_postgres
    restart: always
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ecommerce_postgres_data:/var/lib/postgresql/data
    networks:
      - ecommerce_network

  redis:
    image: redis:7-alpine
    container_name: ecommerce_redis
    restart: always
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      - ecommerce_network

volumes:
  ecommerce_postgres_data:

networks:
  ecommerce_network:
